name: Build and Push Docker image

on:
  push:
    branches: [ main ]

jobs:
  docker:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push Docker images
      uses: docker/build-push-action@v6
      with:
        context: .
        push: true
        tags: |
          ${{ secrets.DOCKERHUB_USERNAME }}/image-compress:latest
          ghcr.io/${{ github.repository_owner }}/image-compress:latest
        platforms: linux/amd64,linux/arm64
        provenance: false
        build-args: |
          LIBZIP_DEV=libzip-dev

    - name: ntfy-success-notifications
      uses: niniyas/ntfy-action@master
      if: success()
      with:
        url: '${{ secrets.NTFY_URL }}'
        topic: status
        headers: '{"authorization": "Bearer ${{ secrets.NTFY_TOKEN }}"}'
        tags: +1,partying_face,tada
        details: Image Build Finished.

    - name: ntfy-failed-notifications
      uses: niniyas/ntfy-action@master
      if: failure()
      with:
        url: '${{ secrets.NTFY_URL }}'
        topic: status
        headers: '{"authorization": "Bearer ${{ secrets.NTFY_TOKEN }}"}'
        tags: +1,partying_face,failed
        details: Image build failed!
